# Auto detect text files and perform LF normalization
* text=auto

# Mark binary files to prevent corruption
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
